---
layout: default
title: Projects
---
<h3 class="mb-2">Projects</h3>

<!-- <p class="mt-3 mb-0">Projects done outside of work to learn new skills and have a little fun.</p> -->

<p class="mb-0">
    Projects done outside of work to learn new skills and have a little fun.  
    <!-- Most are small, but some (like GradientMagic) represent a significant time investment. -->
</p>


<div class="row pt-5">
    {% for item in site.data.projects %}
        <div class="col-12 col-md-6 mb-5">
            <div class="card shadow-sm border-0" targeturl="{{ item.url }}">
                 <img class="card-img-top" src="{{ item.img }}" alt="">

                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text text-muted">{{ item.description }}</p>
                </div>                
            </div>
        </div>
    {% endfor %}
</div>

<!-- <div class="row pt-5">
    <div class="col"> 
        {% for item in site.data.projects %}
            <div class="card shadow-sm  mb-5" targeturl="{{ item.url }}">
                <div class="row"> 
                    <div class="col-sm-5">
                        <img class="card-img" src="{{ item.img }}" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body pl-0">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>                
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div> -->

<h4 class="mb-2 mt-4">Codepen Pens</h4>
<p class="mb-0">
    I really like Codepen for small "bite size" projects and fun experiments. 
    There are a few of my favorites, you can see a more comprehensive list in <a class="fancy" href="{{site.codepen_url}}">my Codepen profile</a>.
    </p>


<div class="row pt-5">
    {% for item in site.data.pens %}
        <div class="col-md-6 col-12">
            <div class="card shadow-sm border-0 mb-5" targeturl="{{ item.url }}">
                <img class="card-img-top" src="{{ item.img }}" alt="">

                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text text-muted">{{ item.description }}</p>
                </div>                
            </div>
        </div>
    {% endfor %}
</div>

<!-- <div class="row pt-5">
    <div class="col">
        {% for item in site.data.pens %}
            <div class="card shadow-sm border-0 mb-5" targeturl="{{ item.url }}">
                <div class="row">
                    <div class="col-sm-5">
                        <img class="card-img" src="{{ item.img }}" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body pl-0">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>                
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div> -->


<script>

    function addCardLinks(){
        let cards = document.querySelectorAll('.card');
        cards.forEach(function(card){
            console.log(card.attributes.targeturl.nodeValue);

            card.addEventListener('click', function(){
                console.log(card.attributes.targetURL.nodeValue)
                window.location = card.attributes.targeturl.nodeValue
            })
        })
    }

    addCardLinks();

</script>