---
layout: default
title: Writing
---
<h3 class="mb-4">Writing</h3>


<ul class="list list-unstyled post-list mb-5 pb-5">
    {% for post in site.posts %}
        <li>
            <span class="text-muted mr-2 mr-md-3 d-none d-md-inline">{{ post.date | date: "%b %d %Y" }}</span>
            <a class="text-dark" href="{{ post.url }}">{{ post.title}}</a>
        </li>
    {% endfor %}
</ul>

<!-- <table class="table table-sm table-borderless">
    {% for post in site.posts %}
        <tr>
           <td class="px-0"> <span class="text-muted mr-2 mr-md-3">{{ post.date | date: "%b %d %Y" }}</span></td>
           <td class="px-0"><a class="text-dark" href="{{ post.url }}">{{ post.title}}</a></td>    
        </tr>
    {% endfor %}
</table> -->