<footer class="mt-5 pt-4 px-4 px-md-5 row border-top border-g200">

    <div class="text-center">
        <p class="">&copy; Jordan Marshall</p>
        <p>
            Please get in touch!  You can reach me on <a class="" href="{{site.codepen_url }}">Codepen</a> or <a class="" href="{{ site.twitter_url }}">Twitter</a>.  
            My email address is &#106;&#111;&#114;&#100;&#097;&#110;&#064;&#106;&#111;&#114;&#109;&#097;&#114;&#115;&#046;&#099;&#111;&#109;.
        </p>
    </div>

</footer>