<footer class="footer-bg text-light border-top border-g200 py-5">
    <div class="container">
        <div class="text-center">
            <p class="">&copy; Jordan Marshall</p>
            <p class="mb-0">
                Please get in touch! &nbsp;  You can find me on <a class="text-light decoration-underline" href="{{site.codepen_url }}">Codepen</a> 
                or <a class="text-light decoration-underline" href="{{ site.twitter_url }}">Twitter</a>.  
                &nbsp; You can also email me at 
                <a class="text-light decoration-underline" href="mailto:&#106;&#111;&#114;&#100;&#097;&#110;&#064;&#106;&#111;&#114;&#109;&#097;&#114;&#115;&#046;&#099;&#111;&#109;">&#106;&#111;&#114;&#100;&#097;&#110;&#064;&#106;&#111;&#114;&#109;&#097;&#114;&#115;&#046;&#099;&#111;&#109;</a>
            </p>
        </div>
    </div>
</footer>