
<section {% if page.cover %} style="background-image: {{ page.cover }}" {% else %} class="header-bg" {% endif %}>

  <!-- <div class="container px-4 px-md-5 pb-4 pt-4"> -->
    <nav class="text-center pt-3 pt-sm-4 pb-2 pb-sm-2 px-4 px-lg-5">

      <div class="top-nav font-weight-bold float-left brand-small text-white">
        <a href="/" class="text-decoration-none">Jordan Marshall</a>
      </div>

      <div class="top-nav font-weight-bold float-right text-uppercase hidden-xs">
        {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
                {{item.name}}
            </a>
        {% endfor %}

        <a class="d-none d-sm-inline"href="{{ site.gradient_url }}">Gradients</a>
        <!-- <a href="{{ site.codepen_url }}">Codepen</a>
        <a href="{{ site.twitter_url }}">Twitter</a> -->
        <a href="{{ site.url }}/feed.xml">RSS</a>
      </div>

      <div class="header-main py-5 ml-auto mr-auto">
        <h1 class="brand display-4 text-white mb-2 mb-sm-3 mt-3">
          {{ page.title }}
        </h1>
        <div class="subtitle text-white">
          {%if page.subtitle %} {{ page.subtitle }}{% else %}{{ page.date | date:  "%B %e, %Y" }}{% endif %}
        </div>
      </div>
    </nav>

</section>
