/* Bootstrap Variables */

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

/* End Bootstrap Variables */


/* Utilities */

$spacer: 1rem;

$primary-base: #1f81e4;

.text-primary-base {
    color: $primary-base;
}

.mb-45 {
    margin-bottom: 2rem;
}

/* End Utilities */

body {
    // Original BG
    background: repeating-linear-gradient(0deg, rgb(250, 250, 250) 0px, rgb(250, 250, 250) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(250, 250, 250) 0px, rgb(250, 250, 250) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(229,0%,100%),hsl(229,0%,100%));

    // Gray - pretty good
    background-image: repeating-linear-gradient(0deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(131,0%,98%),hsl(131,0%,98%));

    // Goood white grid.  Pretty subtle, goes nicely w/ blue
    background-image: repeating-linear-gradient(90deg, rgba(203, 203, 203,0.1) 0px, rgba(203, 203, 203,0.1) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(203, 203, 203,0.1) 0px, rgba(203, 203, 203,0.1) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(203, 203, 203,0.1) 0px, rgba(203, 203, 203,0.1) 1px,transparent 1px, transparent 20px),repeating-linear-gradient(90deg, rgba(203, 203, 203,0.1) 0px, rgba(203, 203, 203,0.1) 1px,transparent 1px, transparent 20px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

    // Dark - better than gray I think.
    // background-image: repeating-linear-gradient(90deg, hsla(178,0%,66%,0.05) 0px, hsla(178,0%,66%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(178,0%,66%,0.05) 0px, hsla(178,0%,66%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(178,0%,66%,0.07) 0px, hsla(178,0%,66%,0.07) 1px,transparent 1px, transparent 26px),repeating-linear-gradient(90deg, hsla(178,0%,66%,0.07) 0px, hsla(178,0%,66%,0.07) 1px,transparent 1px, transparent 26px),linear-gradient(0deg, rgb(20,20,20),rgb(20,20,20));

    // Blue, surprisingly good!
    // background-image: repeating-linear-gradient(0deg, hsla(319,0%,95%,0.06) 0px, hsla(319,0%,95%,0.06) 1px,transparent 1px, transparent 71px),repeating-linear-gradient(45deg, hsla(319,0%,95%,0.06) 0px, hsla(319,0%,95%,0.06) 1px,transparent 1px, transparent 71px),repeating-linear-gradient(90deg, hsla(319,0%,95%,0.05) 0px, hsla(319,0%,95%,0.05) 1px,transparent 1px, transparent 36px),repeating-linear-gradient(0deg, hsla(319,0%,95%,0.05) 0px, hsla(319,0%,95%,0.05) 1px,transparent 1px, transparent 36px),repeating-linear-gradient(90deg, hsla(319,0%,95%,0.05) 0px, hsla(319,0%,95%,0.05) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(45deg, hsla(319,0%,95%,0.05) 0px, hsla(319,0%,95%,0.05) 1px,transparent 1px, transparent 16px),linear-gradient(90deg, rgb(14,93,177),rgb(14,93,177));

}


a {
    // color: $gray-900;
    color: $primary-base;
    // text-decoration: underline;
    &:hover {
        text-decoration: none;
        color: $primary-base;
        // color: $gray-700;
    }
}

// Override bootstrap default for a smaller container
@media (min-width: 1200px) {
    .container {
        max-width: 960px; // Defaul MD
        max-width: 800px;
    }
}

.container {
    // border-left: 1px solid $gray-200;
    // border-right: 1px solid $gray-200;
    background-color: white;
    min-height: 100vh;
}

.display-4 {
    font-weight: bold;
    font-size: 3rem;
}

.app-header {
    .blue-box {
        width: 100%;
        height: 20px;
        background-color: $primary-base;
    }
}

.template-post {
    .post-header {
        a {
            color: $gray-900;
        }
    }

    .post-content {

        h1,h2,h3,h4,h5 {
            margin-top: $spacer * 1.5;
        }
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.25rem;
        }
        h3 {
            font-size: 1rem;
        }

        ol li , ul li {
            margin-bottom: $spacer/2;
        }

        blockquote {
            padding: $spacer 3 * $spacer;
            background-color: $gray-100;
            border-radius: 4px;
        }
    }

    pre {
        padding: 1rem;
        border-radius: 4px;
    }
}

nav {
    a {
        text-decoration: none;
        margin-right: $spacer;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
            text-decoration: none;
        }
    }
    .active {
        font-weight: bold;
    }
}


ul {
    list-style-type: circle;
}

ul li {
    margin-bottom: $spacer/2    ;
}

.card {
    cursor: pointer;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}