---
layout: default
---
<article class="template-post px-3">
    {% comment %}
    <!-- <header class="post-header mb-3">
         <h1 class="mt-2 title">{{ page.title }}</h1>
         <p class="mb-2 font-italic">{{ page.date | date_to_string }}</p>
         <p class="mb-2 subtitle">{{ page.date | date:  "%B %e, %Y" }}</p>

        <p class="mb-0">
            <span class="text-muted">Tags:</span>
            {% for tag in page.tags %}
                <a href="#">{{ tag | capitalize }}</a>
            {% endfor %}
        </p> 
    </header> -->
    {% endcomment %}
    <div class="post-content">
        {{content }}
    </div>
    <div class="post-footer py-4">
        {% if page.previous.url %}
        <div class="float-left">
            <a class="btn btn-primary btn-primary-dark px-3 py-2" href="{{ page.previous.url }}">
                &laquo; &nbsp; {{ page.previous.title | truncate: 30 }} 
            </a>
        </div>
        {% endif %}

        {% if page.next.url %}
        <div class="float-right">
            <a class="btn btn-primary btn-primary-dark px-3 py-2" href="{{ page.next.url }}">
                {{ page.next.title | truncate: 30 }} &raquo;               
            </a>
        </div>
        {% endif %}
    </div>
</article>
